
* {
    font-family: RobotoMB;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header {
    display: flex;
    justify-content: space-around;
    padding: 11px;
    width: 100%;
}

.Search {
    width: 100%;
    padding: 5px;
    color: #7D7C7C;
}

.Search-div {
    width: 23%;
    border-color: #7D7C7C;

}

a {
    font-size: 15px;
    color: #7D7C7C;
}

.Navigation-bar {

    background-color: #FFC436;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.Navigation-bar>select {
    background-color: #FFC436;
    border: none;
    margin-left: 2px;
    margin-right: 2px;

}

option :hover {
    background-color: white;
}

.fourth-img {
    margin-left: 7%;
}

.Winter-checklist {

    display: flex;
    justify-content: center;

}

.Winter-checklist p {
    padding-left: 112px;
}

.d {
    border: solid #87C4FF;
    border-width: 1px;
}

.footer {
    background-color: #d8f2f3;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.f {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
}